spring:
  application:
    name: DOLDARI
  # H2 Database Configuration (File Based)
  datasource:
    url: jdbc:h2:file:./data/temboard;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver_class_name: org.h2.Driver
    username: sa
    password:

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        trace: false
        web-allow-others: false

  ai:
    oci :
      genai :
        private-key: ${GOOGLE_AI_API_KEY}
        cohere:
          chat:
            options:
              model: gemini-3.0-flash
              temperature: 0.7

server:
  port: 8080